* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    text-decoration: none;
    font-size: 1.05rem;
    padding: 10px 18px;
    color: rgb(56, 11, 207);
}

.nav-link:hover {
    border-radius: 20px;
    /* border: 0.2px solid rgb(56, 11, 207); */
    border: 0.2px solid orangered;
    color: orangered;
}

.btn {
    background: rgb(56, 11, 207);
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul:nth-last-child {
    color: #fff;
}

.btn {
    padding: 10px 30px;
    /* background: rgb(56, 11, 207); */
    border-radius: 20px;
    color: #fff;
}

.btn a {
    color: #fff;
}

body {
    background: #92b3e1;
    height: 100vh;
}

.navbar {
    /* background: #3233e56b; */
    background-image: linear-gradient(to bottom right, #3233e56b),url('nav.avif');
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
    position: fixed;
    z-index: 90;
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    margin-left: 22px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(56, 11, 207);
}

.navbar .cap {
    font-size: 2em;
    margin-right: 7px;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 22px;
}

.menu {
    color: rgb(56, 11, 207);
    position: absolute;
    right: -20px;
    font-size: 1.15rem;

}

/* sidbar */
.sidebar ul {
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    background: rgb(56, 11, 207);
    gap: 40px;
    width: 300px;
    padding: 42px 20px;
    z-index: 100;
}

.sidebar li {
    width: 100%;
}

.sidebar ul li a {
    width: 100%;
}

.sidebar li i {
    color: rgb(56, 11, 207);
    position: relative;
    left: 20px;
    font-size: 1.27rem;
    color: #fff;
}

.sidebar a {
    color: #fff;
    
}

.sidebar .btn {
      background: orangered;
      text-align: center;
      text-decoration: none;
}
/* media query */
@media (max-width: 1060px) {
    .navbar .menu {
        right: 30px;
    }

    .navbar .nav-links {
        display: none;
    }

    .navbar .logo h1 {
        font-size: 1.87rem;
    }

    .navbar .logo .cap {
        font-size: 1.87rem;
    }

    .section-1 .hero-section {
        position: absolute;
        bottom: 550px;
        font-size: 0.1rem;
        text-align: center;
        top: 120px;
    }
}

@media (max-width: 400px){
    .hero-section h1,p{
        letter-spacing: 1px;   
    }
}

@media (max-width: 526px){
    .footer-icons {
        flex-wrap: wrap;
    }
    .footer-text {
        flex-wrap: wrap;
    }
    .footer-2, .copyright {
        font-size: 1rem;
        text-align: center;
    }
    .choose-class-head{
        top: 290px;
    }
}

/* main */
body {
    height: 100vh;
    text-align: center;
}
main {
    
    /* position: relative;
    top: 60px; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    
}
.container {
    display: flex;
    background:rgb(56, 11, 207);
    flex-direction: column;
    margin-top: 200px;
    padding: 35px;
    color: #ccc;
    justify-content: flex-start;
    gap: 15px;
    border-radius: 7px;
    box-shadow: 5px 12px 13px rgb(95, 86, 86);
    width: 330px;
}

.container h1 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container input {
    padding: 10px 20px;
    width: 100%; 
    margin-bottom: 10px;
    border-radius: 7px;
}
form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.container form label {  
    font-size: 1.12rem;
}

.container button {
   width: 100%;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   cursor: pointer;
   background: rgb(216, 84, 36);
   border: none;
   color: #fff;
   font-size: 1.05rem;
   font-weight: bold;
}

.container form a {
    color: #fff;
    text-decoration: none;
}

.container span {
    display: flex;
    justify-content: flex-end;
}